body{
    align-content: center;
}

.container{
    align-self: center;
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.imagen{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}