* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(https://c.tenor.com/cwvp1ZlR1nQAAAAC/bts.gif);
	font-family: 'Roboto', sans-serif;
    background-size: 80rem;
}
.title{
    font-size: 40px;
    font-family: like eat;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contenedor {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.contenedor-botones {
	width: 200px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
.boton.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #c4b107;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}

.boton.uno:hover::after {
	top: 0;
}
.subtitulo{
	text-align: right;
}
.awewe{
	font-family: like eat;
}